@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes efectoRevelar {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

:root {
    --blanco: #fefefe;
    --negro: #000000;
    --turquesa: #009999;
    --azulClaro: #71f4f4;
    --fondoNegro_Fondo: rgba(0,0,0,0.7);
    --fondoNegro_Cuadro: rgba(0,0,0,0.9);
}

html {
    /* Usa una imagen de fondo y pone una capa translucida */
    background: linear-gradient(
        var(--fondoNegro_Fondo),
        var(--fondoNegro_Fondo)),
        url("../img/restaurante.jpg")
        no-repeat center center fixed;

    /* Se asegura de que la imagen se expanda en toda la pantalla */
    background-size: cover;
    height: 100%;

    /* Permite una animacion suave cuando se hace un scroll automatico */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    padding: 30px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease; /* Efecto de transicion al cambiar de categoria */
}

h2 {
    margin-top: 0;
}

main {
    max-width: 660px;
}

/* Categorias del menu - Inicio */
.principal { /* Establece que las columnas estaran una al lado de la otra */
    display: flex;
    justify-content: space-between;
}

.divisores {
    max-width: 500px;
    width: 100%;
}

.lista_Menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.titulo {
    background-color: var(--blanco);
    color: var(--turquesa);
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo > i, h1 {
    margin-right: 10px;
    margin-left: 15px;
    font-size: 1.7rem;
    font-weight: bold;
    font-style: italic;
}

.columna {
    width: 50%;
}

.columna_Categorias {
    max-width: 500px;
    width: 100%;
    position: fixed;
}

.categorias {
    margin-top: 15px;
}

.iconos_Categorias {
    margin-right: 15px;
    margin-left: 40px;
    font-size: 1.4rem;
}

.opcion_Categorias {
    background-color: var(--blanco);
    color: var(--turquesa);
    min-width: 480px;
    height: 100px;
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 1.25rem;
}

.opcion_Categorias:hover,
.opcion_Categorias.active { /* Establece el cambio de colores que tendra una categoria al ser seleccionada */
    min-width: 500px;
    background-color: var(--turquesa);
    color: var(--blanco);
}
/* Categorias del menu - Fin */

/* Opciones del menu - Inicio */
.columna_Contenido {
    animation: efectoRevelar 1s; /* Da un efecto de revelacion al cambiar de categoria */
}

.columna_Fondo {
    background-color: var(--fondoNegro_Cuadro);
    color: var(--blanco);
}

.columna_OpcionMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.columna_Imagen {
    margin-right: 20px;
    width: 160px;
    height: 160px;
}

.columna_Texto {
    padding: 20px 25px;
    flex: 1;
}

.comida_Nombre {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.comida_Precio {
    color: var(--azulClaro);
}
/* Opciones del menu - Fin */

/* Bebidas - Inicio */
.bebidas_Menu {
    background-color: var(--fondoNegro_Cuadro);
    color: var(--blanco);
    height: 80px;
}

.bebidas_Menu > ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.bebidas_Categorias {
    color: var(--blanco);
}

.bebidas_Categorias:hover,
.bebidas_Categorias.active { /* Establece el cambio de colores que tendra una categoria al ser seleccionada */
    color: var(--azulClaro);
    border-bottom: 4px solid var(--azulClaro);
}
/* Bebidas - Fin */
